.env
.venv
ts-oauth
src/server_controller/testserver/*
!src/server_controller/testserver/server.properties
!src/server_controller/testserver/settings.sh
!src/server_controller/testserver/start_script.sh